@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Electronic';
  src: url('./assets/fonts/FX-LED.ttf') format('truetype');
}
/* zhener字体 */
@font-face {
  font-family: 'zhener';
  src: url('./assets/fonts/zhener.ttf') format('truetype');
}

.text-gradient {
  /* 背景渐变 */
  background: linear-gradient(180deg, #b5f4ff 32.81%, #b5f4ff 34.38%, #dffaff 64.58%);
  /* 元素背景延伸到文本 */
  -webkit-background-clip: text;
  /* 文本字符填充颜色透明 */
  -webkit-text-fill-color: transparent;
}