@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 12px; /* 默认 */
}

@media (min-width: 3840px) { /* 4k 分辨率 */
  html {
    font-size: 16px; /* 调整基准值 */
  }
}
@media (min-width: 9999px) { /* 浏览器预览测试的最大值 */
  html {
    font-size: 41px; /* 调整基准值 */
  }
}
@media (min-width: 11520px) { /* 12k 分辨率 */
  html {
    font-size: 48px; /* 调整基准值 */
  }
}
/**
 * 设计稿宽度为 11520px，高度为 2160px
 * 设计稿宽度为 12k，高度为 2160px
 */
html[dpr-screen="true"] {
  width: 11520px; 
  height: 2160px;
  font-size: 48px;
  margin: 0 auto;
}

body,#app {
  height: 100%;
}

@font-face {
  font-family: 'Electronic';
  src: url('./assets/fonts/FX-LED.ttf') format('truetype');
}
/* zhener字体 */
@font-face {
  font-family: 'zhener';
  src: url('./assets/fonts/zhener.ttf') format('truetype');
}
/* pengmenzhengdao字体 */
@font-face {
  font-family: 'pengmenzhengdao';
  src: url('./assets/fonts/pengmenzhengdao.ttf') format('truetype');
}
/* YouSheBiaoTiHei字体 */
@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('./assets/fonts/YouSheBiaoTiHei.ttf') format('truetype');
}


.text-gradient {
  /* 背景渐变 */
  background: linear-gradient(180deg, #b5f4ff 32.81%, #b5f4ff 34.38%, #dffaff 64.58%);
  /* 元素背景延伸到文本 */
  -webkit-background-clip: text;
  /* 文本字符填充颜色透明 */
  -webkit-text-fill-color: transparent;
}
.text-ellipsis {
  white-space: nowrap; /* 防止文本换行 */
  overflow: hidden;    /* 隐藏超出部分 */
  text-overflow: ellipsis; /* 显示省略号 */
}

.bg-size{
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* 修改全局滚动条样式 */
::-webkit-scrollbar {
  width: 0;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #081e4d;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #1b3269;
  border-radius: 4px;
}
